(1.)	Write a Python Program to Find the Factorial of a Number?

In [1]:
def factorial(a):
    if(a == 1):
        return 1
    fact = a*factorial(a-1)
    return fact

In [3]:
factorial(4)

24

(2.)Write a Python Program to Display the multiplication Table?

In [4]:
def table(a):
    for i in range(1, 11):
           print(a, 'x', i, '=', a*i)

In [5]:
table(2)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

(3.)Write a Python Program to Print the Fibonacci sequence?

In [16]:
def fibb(a):
    if a<= 0:
        return 0
    if a==1 or a==2:
        return 1
    fib = fibb(a-1)+fibb(a-2)
    return fib

In [17]:
fibb(6)

8

(4.)	Write a Python Program to Check Armstrong Number?

In [21]:
def armstrong():
    n = int(input("Enter a number: "))
    s = 0
    t = n
    while t > 0:
        digit = t % 10
        s += digit ** 3
        t //= 10
    if n == s:
        print(n,"is an Armstrong number")
    else:
        print(n,"is not an Armstrong number")

In [22]:
armstrong()

Enter a number: 23
23 is not an Armstrong number

(5.)	Write a Python Program to Find Armstrong Number in an Interval?

In [26]:
def armstrongInterval():
    lr = int(input("Enter lower range: "))  
    ur = int(input("Enter upper range: "))  
    for num in range(lr,ur+1):
        sum=0
        temp = num
        while temp>0:
            t1 = temp%10
            sum+=t1**3
            temp//=10
            if num == sum:
                print(num)

In [27]:
armstrongInterval()

Enter lower range: 200
Enter upper range: 500
216
370
371
407

(6.)	Write a Python Program to Find the Sum of Natural Numbers?

In [28]:
def sumNaturalNumber(num):
    # Sum of natural numbers up to num
    if num<0:
        print('Enter a positive Number')
    else:
        sum =0
        while(num>0):
            sum+=num
            num-=1
            print('Natural number sum is',sum)

In [29]:
sumNaturalNumber(45)

Natural number sum is 45
Natural number sum is 89
Natural number sum is 132
Natural number sum is 174
Natural number sum is 215
Natural number sum is 255
Natural number sum is 294
Natural number sum is 332
Natural number sum is 369
Natural number sum is 405
Natural number sum is 440
Natural number sum is 474
Natural number sum is 507
Natural number sum is 539
Natural number sum is 570
Natural number sum is 600
Natural number sum is 629
Natural number sum is 657
Natural number sum is 684
Natural number sum is 710
Natural number sum is 735
Natural number sum is 759
Natural number sum is 782
Natural number sum is 804
Natural number sum is 825
Natural number sum is 845
Natural number sum is 864
Natural number sum is 882
Natural number sum is 899
Natural number sum is 915
Natural number sum is 930
Natural number sum is 944
Natural number sum is 957
Natural number sum is 969
Natural number sum is 980
Natural number sum is 990
Natural number sum is 999
Natural number sum is 1007
Natural number sum is 1014
Natural number sum is 1020
Natural number sum is 1025
Natural number sum is 1029
Natural number sum is 1032
Natural number sum is 1034
Natural number sum is 1035